<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{type.toUpperCase()}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text color="medium" *ngIf="displayList.length === 0 && displaySong.length === 0" class="ion-padding ion-text-center">
    <p>No documents found</p>
  </ion-text>

  <ng-container *ngIf="type !== 'playlist'">
    <ion-list>

      <ion-item-sliding *ngFor="let f of displayList">
        <ion-item (click)="itemClicked(f)">
          {{ f }}
        </ion-item>
      </ion-item-sliding>

    </ion-list>
</ng-container>

<ng-container *ngIf="type === 'playlist' && id === '' && displaySong.length === 0">
  <ion-button expand="block" (click)="createPlaylist()">Create Playlist</ion-button>

  <ion-list>

    <ion-item-sliding *ngFor="let f of displayList">

      <ion-item (click)="itemClicked(f.id)">
        {{ f.title }}
      </ion-item>

      <ion-item-options side="start">
        <ion-item-option (click)="editPlaylist(f.id, f.title)" color="success">
          Edit
        </ion-item-option>
      </ion-item-options>

      <ion-item-options side="end">
        <ion-item-option (click)="deletePlaylist(f.id)" color="danger">
          <ion-icon name="trash" slot="icon-only"></ion-icon>
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>

  </ion-list>
</ng-container>

<ng-container *ngIf="type === 'playlist'">
  <ion-list>

    <ion-item-sliding *ngFor="let song of displaySong, let i = index">

      <ion-item (click)="itemClicked(i)">
        {{ song.title }}
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option (click)="deleteSongFromPlaylist(song, id)" color="danger">
          <ion-icon name="trash" slot="icon-only"></ion-icon>
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>

  </ion-list>

</ng-container>

<ng-container *ngIf="type !== 'playlist'">
  <ion-list>

    <ion-item-sliding *ngFor="let song of displaySong, let i = index">

      <ion-item (click)="itemClicked(i)">
        {{ song.title }}
      </ion-item>

      <ion-item-options side="start">
        <ion-item-option (click)="addSongToPlaylist(song)" color="success">
          <ion-icon name="add-circle" slot="icon-only"></ion-icon>
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>

  </ion-list>
</ng-container>

</ion-content>
