/backend/node_modules
/backend/assets
config_info.txt
/backend/resources/audio/*
/backend/resources/temp/*
!/backend/resources/temp/temp.txt
!/backend/resources/audio/temp.txt

/frontend/*~
/frontend/*.sw[mnpcod]
/frontend/.tmp
/frontend/*.tmp
/frontend/*.tmp.*
/frontend/*.sublime-project
/frontend/*.sublime-workspace
/frontend/.DS_Store
/frontend/Thumbs.db
/frontend/UserInterfaceState.xcuserstate
/frontend/$RECYCLE.BIN/

/frontend/*.log
/frontend/log.txt
/frontend/npm-debug.log*

/frontend/.angular
/frontend/.idea
/frontend/.ionic
/frontend/.sass-cache
/frontend/.sourcemaps
/frontend/.versions
/frontend/.vscode
/frontend/coverage
/frontend/dist
/frontend/node_modules
/frontend/platforms
/frontend/plugins
/frontend/www