<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Main App Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">

    <ion-label>Greetings, {{user.username}}, You are successfully logged in.</ion-label>

    <ion-row style="justify-content: center; padding-top: 5vw;">
    <ion-button [routerLink]="['/upload']">Upload</ion-button>
    <ion-button [routerLink]="['/search']">Search</ion-button>
    <ion-button [routerLink]="['/account']">Account</ion-button>
    <ion-button [routerLink]="['/share-playlist']">Share Playlist</ion-button>
    <ion-button [routerLink]="['/get-playlist']">Get Playlist</ion-button>
    </ion-row>

  </div>
</ion-content>
