<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Music Player App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Music Player App</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">

    <ion-row>
      <ion-col>
        <ion-button [routerLink]="['/player']">Player</ion-button>
      </ion-col>
    </ion-row>

    <ion-button [routerLink]="['/list/genre']">Show Genres</ion-button>
    <ion-button [routerLink]="['/list/artist']">Show Artists</ion-button>
    <ion-row style="justify-content: center;">
      <ion-button [routerLink]="['/list/all/song']">Show All</ion-button>
      <ion-button [routerLink]="['/list/playlist']">Show Playlists</ion-button>
    </ion-row>
    <ion-row style="justify-content: center;">
        <ion-button [routerLink]="['/upload']">Upload</ion-button>
        <ion-button [routerLink]="['/file']">Scan</ion-button>
    </ion-row>
    <ion-button [routerLink]="['/mainapp']">Main App</ion-button>

  </div>
</ion-content>
