<ion-header>
  <ion-toolbar [color]="'primary'">
    <ion-buttons slot="start" *ngIf="currentFolder !== ''">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{ currentFolder || 'Documents' }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-text color="medium" *ngIf="folderContent.length === 0" class="ion-padding ion-text-center">
    <p>No documents found</p>
  </ion-text>

  <ion-list>

    <ion-item-sliding *ngFor="let f of folderContent">

      <ion-item (click)="itemClicked(f)">
        <ion-icon [name]="(f.stat.type === 'file' || f.stat.type === 'NSFileTypeRegular') ? 'document' : 'folder'" slot="start"></ion-icon>
        {{ f.name }}
      </ion-item>

    </ion-item-sliding>

  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="scanAlert(folderContent, currentFolder)">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
